
.navbar{
    display: flex;
    height:50px;
    position: fixed;
    left:0;
    bottom: 0;
    list-style: none;
    width: 100%;
    background-color: darkslategrey;
    border-top: 1px solid #ccc;
    background-color: white;
    li{
        flex: 1;
        text-align: center;
        a{
            text-decoration: none;
            color: black;
            display: inline-block;
            p{
                font-size: 12px;
                margin-top:5px;
            }
            span{
                font-size: 22px;
            }
        }
       
        .active{
            color: green; 
         }
}
}

