.Homelist{
    height:85px;
    padding:7px 0 1px 7px;
    background-color: pink;
    li{
        width:85px;
        height:85px;
        margin:0 7px 7px 0;
        float: left;
        img{
            width:85px;
            height:85px;
        }
    }
}